pandas>=1.5.3
yfinance>=0.2.61
tiingo>=0.16.0
databento>=0.35.1
pytest>=7.0.0
requests
python-dotenv
pyarrow
torch
ta
lightgbm
catboost
wandb
questdb
pytz
requests
polygon-api-client
finnhub-python
duckdb